<h1 class="display-6 my-4">Blog Posts</h1>

<div class="well">
  <% @posts.each do |post| %>
    <div class="card mx-2 col-md-12 my-2">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %>
        </h5>
        <p class="card-text"><%= post.body %></p>
        <%= link_to "Read Post" , post_path(post) , :class=>'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
